<%= link_to '#', class: 'top-clan-elem text-left' do %>
    <%= image_tag 'http://cw.worldoftanks.eu/media/clans/emblems/clans_5/500000010/emblem_32x32.png' %>
    <span class="top-clan-name">
        <%= clan %>
    </span>
    <span class="pull-right top-clan-score">
        2767k
    </span>
<% end  %>