<div class="server-stat-elem text-left">
    <span class="server-stat-name">
        <%= server_stat[:name] %>
    </span>
    <span class="pull-right server-stat-score">
        <%= server_stat[:value] %>
    </span>
</div>