<div class="row">
  <div class="ad-300-250"></div>
  <div class="ad-rest">
    <div class="main-logo text-center">
      <%= image_tag 'logo.png' %>
    </div>
  </div>

</div>

<h1 class="text-center">A simple tool, which will show you battle potential of your enemy</h1>

<form class="form-inline main-search-form text-center" action="<%= search_path %>" method="get">
  <%= hidden_field_tag 'region' %>
  <span class="dropdown">
      <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
        <span class="value">EU</span>
        <span class="caret"></span></a>
      <ul class="dropdown-menu text-left" role="menu">
        <li><a href="#" href="">NA</a></li>
        <li><a href="#" href="">RU</a></li>
        <li><a href="#" href="">SEA</a></li>
        <li><a href="#" href="">KR</a></li>
      </ul>
  </span>
  <div class="form-group wide">
    <%= text_field_tag 'name', '', placeholder: 'Search', class: 'form-control'  %>
  </div>
  <button class="btn">Search</button>
</form>

<%#= render 'boxes' %>

<script>
  $(function(){
      $('.home-stat-name').tooltip();
  });
</script>
