@import 'config';

.clan-element {
  .clan-position {
    line-height: 60px;
    font-size: 32px;
  }
  .clan-emblem {
    max-width: 64px;
  }
  .clan-tag {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
  }
  .clan-name {
    font-size: 20px;
    line-height: 24px;
  }
  .clan-stat-name, .clan-stat-value{
    font-size: 20px;
    line-height: 24px;
  }
  .clan-stat-name {
    font-weight: 300;
  }
  .stat-rank-0 {color: #272B30;}
  .stat-rank-1 {color: #FF0000;}
  .stat-rank-2 {color: #EB3E21;}
  .stat-rank-3 {color: #EBA121;}
  .stat-rank-4 {color: #98EB21;}
  .stat-rank-5 {color: #009A12;}
  .stat-rank-6 {color: #471E99;}
}