@import 'config';

.main-search-form {
  margin-top: 10px;
  .form-group.wide {
    width: 70%;
  }
}

/*
.navbar.home {
  .navbar-inner {
    background: @content-background;
    .nav {
      margin: 0 auto;
      width: 520px;
      display: block;
    }
  }
}

.container.home, .container-fluid.home {
  background: @content-background;
  max-width: 1000px;
  margin: 0 auto;

  h1, h2 {
     font-size: 32px;
     font-weight: normal;
  }

  .form-search {
    margin-top: 10px;
    a.btn {
      height: 32px;
      font-size: 20px;
      line-height: 32px;
      .caret {
        margin-top: 14px;
      }
    }
    button.btn {
      height: 40px;
      .icon-search {
        margin-top: 3px;
      }
    }
    .dropdown-menu {
      font-size: 16px;
    }
    input {
      width: 70%;
      height: 26px;
      font-size: 20px;
    }
  }

  a.view-more {
    line-height: 2;
  }

  .top-clan-elem, .home-stat-elem, .server-stat-elem {
    width: 150px;
    display: inline-block;
    color: @content-color;
    padding: 2px 25px 3px;
    line-height: 32px;
    height: 32px;
    transition: color 0.5s, background 0.5s;
    &.server-stat-elem {
      width: 200px;
    }
    &.top-clan-elem:hover, &.home-stat-elem:hover {
      color: @content-color-highlight;
      background: @content-background-highlight;
      text-decoration: none;
    }
    img {
      vertical-align: top;
    }
    .top-clan-name, .home-stat-name {
      font-size: 22px;
      font-weight: 700;
    }
    .home-stat-name {
      border-bottom: 1px dashed @content-color;
    }
    .top-clan-score, .home-stat-score, .server-stat-score {
      font-size: 16px;
      font-weight: 300;
    }
  }

  .table{
    margin-bottom: 5px;
    td {
      border-top: none;
      padding: 0;
      vertical-align: bottom;
      text-align: center;
      img {
        vertical-align: bottom;
      }
      a {
        display: block;
        color: @content-color;
        padding: 2px 0 3px;
        height: 32px;
        transition: color 0.5s, background 0.5s;
      }
    }
    tr:hover a {
      color: @content-color-highlight;
      background: @content-background-highlight;
      text-decoration: none;
    }
    td.clan-name, td.stat-name {
      font-size: 22px;
      font-weight: 700;
    }
    td.stat-name a {
      padding-top: 14px;
      height: 20px;
    }
    td.clan-score, td.stat-score, td.server-stat-score {
      font-size: 16px;
      font-weight: 300;
      a {
        height: 20px;
        padding-top: 14px;
      }
    }
    td.server-stat-name {
      font-weight: 700;
    }
    td.server-stat-name, td.server-stat-score{
      height: 37px;
    }
  }
}   */

.main-logo {
  margin: 100px 0 50px;
}