@import 'config';

body {
  font-family: Oswald, sans-serif;
  background: @background-color;
  color: @content-color;
}

html, body {
  height: 100%;
}

.container {
  min-width: 950px;
}

#wrap {
  height: auto !important;
  margin: 0 auto -40px;
  min-height: 100%;
}

#push {
  height: 70px;
}

#footer {
  text-align: center;
  padding: 10px 0;
  height: 40px;
  background: @content-background;
}


a {
  color: @content-color-highlight;
  transition: color 0.5s;
  &:hover {
    text-decoration: none;
    color: @content-color;
  }
  &:focus {
    outline: none;
    text-decoration: none;
    color: @content-color-highlight;
  }
}

.btn {
  background: @content-background;
  border-color: @content-background-highlight;
  box-shadow: none;
  text-shadow: none;
  color: @content-color;
  font-family: inherit;
  transition: color 0.5s, background-color 0.5s;
  &:hover, &:focus {
    text-decoration: none;
    background: @content-background-highlight;
    border-color: @content-background-highlight;
    color: @content-color-highlight;
    transition: color 0.5s, background-color 0.5s;
  }
}

.dropdown {
  display: inline-block;
  &:hover, &.open {
    .btn {
      text-decoration: none;
      background: @content-background-highlight !important;
    }
    a {
      color: @content-color-highlight !important;
      text-decoration: none;
    }
  }
  a {
    color: @content-color !important;
    &:focus {
      text-decoration: none;
      outline: none;
    }
  }
  .dropdown-toggle{
    .caret {
      border-top-color: @content-color;
    }
  }
  .dropdown-menu {
    min-width: 100px;
    margin: 2px 0 0;
    padding: 5px 0;
    background: @content-background-highlight;
    border: none;
    box-shadow: none;
    text-shadow: none;
    a{
      transition: color 0.5s, background 0.5s, border-color 0.5s;
    }
    a:hover {
      background: @content-background !important;
      color: @content-color !important;
    }
  }
}

.tooltip.in {
  opacity: 0.9;
}

h1, h2, h3, h4, h5{
  text-align: center;
  font-family: inherit;
}

.text-center th{
  text-align: center;
}
.table{
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    border-color: lighten(@background-color, 15%);
  }
  &.table-striped {
     tbody > tr:nth-child(2n+1) > td, tbody > tr:nth-child(2n+1) > th {
      background-color: lighten(@background-color, 5%);
    }
  }
}

.pagination {
  margin: 20px auto;
  display: inline-block;
  & > li > a, & > li.disabled > a, & > li > span, & > li.disabled > span {
    background: @content-background;
    border-color: @content-background-highlight;
    transition: background-color 0.5s;
    &:hover, &:focus {
      text-decoration: none;
      background: @content-background-highlight;
      border-color: @content-background-highlight;
      color: @content-color-highlight;
      transition: background-color 0.5s;
    }
  }
}